/* Navbar overrides */
.bg-primary-blue {
  background-color: var(--primary-blue) !important;
}

.navbar-logo {
  height: 40px;
}

/* badge sobre campana */
.navbar .badge {
  font-size: 0.65rem;
  padding: 0.35em 0.45em;
}

