.text-secondary-blue {
  color: var(--secondary-blue);
}

.btn-primary {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}

.btn-primary:hover:not(:disabled) {
  background-color: var(--secondary-blue);
  border-color: var(--secondary-blue);
}
